body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}



#ul{
  display: inline;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

#li{
  display:inline;
  padding: 120px;
}

#nav{
  left: 100px;
}
 
h1{
  text-align: center;
}

#header{
  text-align : left ;
  background-color: darkred;
  backface-visibility:inherit;
  padding: 30px;
  position: stickt; 
  z-index: 2;
}