extends layout

block content
  h1= title
  p Welcome to #{title}
  h2
    a(href="/create-evento") Sei un organizzatore ? crea un evento! 
  h3 
    a(href="/events") Partecipa ai nostri eventi ! 
  