extends layout

block content
    form#formr(method="post" )
        p#generalfont1 Partecipa anche tu 
        input#submit(val="Iscriviti" , type="submit")
    br
    br 
    br 
    br 
    br 
    br 
    br 
    br 
    br 
    br 
    p#generalfont2 Lista partecipanti:
    each partecipante in partecipanti
        p#generalfont1 #{partecipante.nome} #{partecipante.cognome}