doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  header#header
    a#a(href = "/" ) Home
    a#a(href = "/registrazione") Registrazione
    a#a(href = "/session/login") Login
    a#a(href = "/session/account") Account
    img(src="/images/a1imn.jpg" alt="logo" width="100" ).logo
  body
    block content

