doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  header#header
    center 
      a(href="/" )
        img(src="/images/lot.jpg" height=100 width=100  )
    hr 
    nav#nav
      ul#ul 
        li#li 
          a(href = "/" ) Home
        li#li
          a(href = "/registrazione") Registrazione
        li#li 
          a(href = "/Archivio") Archivio
        li#li 
          a(href = "/Contatti") Contatti
        
    

  body
    block content

