extends layout
block content
    div#forml
        h4 Accedi
        form(method="post" , action="/session/login") 
            .row
                input(type="text", placeholder="Email", name="mail")
            .row
                input(type="text", placeholder="Password", name="password" )   
            .row 
            br 
            input#submit(val="Accedi" , type="submit") 