extends layout
block content
    .container
    h1 
    form(method="post" , action="/session") 
        .row
            input(type="text", placeholder="mail", name="mail")
        .row
            input(type="text", placeholder="password", name="password" )    
        input(val="accedi" , type="submit")