extends layout

block content 
    .container
    h1 REGISTRATI
    form(method="post" ) 
        
        <select name="ctac" >
            <option value="o">organizzatore</option>
            <option value="p">partecipante</option>
        h1 
        .row
            input(type="text", placeholder="Nome", name="nome")
        .row
            input(type="text", placeholder="cognome", name="cognome")
        .row
            input(type="text", placeholder="Email", name="mail")
        .row
            input(type="text", placeholder="Password", name="password" )
        .row
            input(type="text", placeholder="Ripeti password", name="rpassword")
        input(val="Registrati" , type="submit") 
