extends layout

block content 
    .container
    h1 REGISTRATI
    form(method="post" ) 
        .row
            input(type="text", placeholder="Nome", name="nome")
        .row
            input(type="text", placeholder="cognome", name="cognome")
        .row
            input(type="text", placeholder="Email", name="mail")
        .row
            input(type="text", placeholder="Username", name="username")
        .row
            input(type="text", placeholder="ID", name="idu")
        .row
            input(type="text", placeholder="Password", name="password" )
        .row
            input(type="text", placeholder="Ripeti password", name="rpassword")
        .row 
            input(type="text", placeholder="Tipo account(o/p) ", name="tac")
        input(val="Registrati" , type="submit") 
